In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [18]:
tickers  = ['PG', 'JNJ']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [19]:
sec_data.tail()

                    PG         JNJ
Date
2022-03-15  150.270004  176.139999
2022-03-16  149.759995  174.520004
2022-03-17  150.229996  176.800003
2022-03-18  150.149994  174.839996
2022-03-18  150.149994  174.839996

In [20]:
sec_data.head()

                   PG        JNJ
Date
2007-01-03  41.371269  42.505856
2007-01-04  41.057159  43.037174
2007-01-05  40.704605  42.646683
2007-01-08  40.794342  42.576267
2007-01-09  40.691776  42.416233

In [23]:
#Calculando os retornos logarítimicos pois, analisarei cada empresa

In [21]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [22]:
sec_returns

                  PG       JNJ
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.012422
2007-01-05 -0.008624 -0.009115
2007-01-08  0.002202 -0.001653
2007-01-09 -0.002517 -0.003766
...              ...       ...
2022-03-15  0.035355  0.025589
2022-03-16 -0.003400 -0.009240
2022-03-17  0.003133  0.012980
2022-03-18 -0.000533 -0.011148
2022-03-18  0.000000  0.000000

[3831 rows x 2 columns]

PG

In [24]:
sec_returns['PG'].mean()

0.0003365660819610312

In [25]:
sec_returns['PG'].mean() * 250

0.0841415204902578

In [26]:
#calculando o desvio padrão

In [27]:
sec_returns['PG'].std()

0.011757247410188774

In [28]:
sec_returns['PG'].std() * 250 ** 0.5

0.18589840415156247

JOHNSON & JOHNSON

In [29]:
sec_returns['JNJ'].mean()

0.0003692504973160009

In [30]:
sec_returns['JNJ'].mean() * 250

0.09231262432900023

In [31]:
sec_returns['JNJ'].std()

0.011169055528690772

In [32]:
sec_returns['JNJ'].std() * 250 ** 0.5

0.17659827391779478

In [33]:
#EQUAÇÃO DAS DUAS MÉDIAS ANUALIZADAS

In [34]:
print(sec_returns['PG'].mean()* 250)
print(sec_returns['JNJ'].mean()* 250)

0.0841415204902578
0.09231262432900023

In [36]:
sec_returns[['PG','JNJ']].mean() * 250

PG     0.084142
JNJ    0.092313
dtype: float64

In [37]:
sec_returns[['PG','JNJ']].std() * 250 ** 0.5

PG     0.185898
JNJ    0.176598
dtype: float64

In [38]:
#AÇÕES DA JOHNSON DÃO MAIS RETORNO E APRESENTAM MENOS RISCO (VOLATIVIDADE)