In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers  = ['PG', 'JNJ']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [4]:
sec_data.tail()

                    PG         JNJ
Date
2022-03-15  150.270004  176.139999
2022-03-16  149.759995  174.520004
2022-03-17  150.229996  176.800003
2022-03-18  150.149994  174.839996
2022-03-18  150.149994  174.839996

In [5]:
sec_data.head()

                   PG        JNJ
Date
2007-01-03  41.371269  42.505840
2007-01-04  41.057167  43.037182
2007-01-05  40.704594  42.646679
2007-01-08  40.794346  42.576267
2007-01-09  40.691772  42.416229

In [6]:
#Calculando os retornos logarítimicos pois, analisarei cada empresa

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [8]:
sec_returns

                  PG       JNJ
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.012423
2007-01-05 -0.008624 -0.009115
2007-01-08  0.002203 -0.001652
2007-01-09 -0.002518 -0.003766
...              ...       ...
2022-03-15  0.035355  0.025589
2022-03-16 -0.003400 -0.009240
2022-03-17  0.003133  0.012980
2022-03-18 -0.000533 -0.011148
2022-03-18  0.000000  0.000000

[3831 rows x 2 columns]

PG

In [9]:
sec_returns['PG'].mean()

0.00033656608196103014

In [10]:
sec_returns['PG'].mean() * 250

0.08414152049025754

In [11]:
#calculando o desvio padrão

In [12]:
sec_returns['PG'].std()

0.011757250308178526

In [13]:
sec_returns['PG'].std() * 250 ** 0.5

0.18589844997280372

JOHNSON & JOHNSON

In [14]:
sec_returns['JNJ'].mean()

0.00036925059104470304

In [15]:
sec_returns['JNJ'].mean() * 250

0.09231264776117576

In [16]:
sec_returns['JNJ'].std()

0.011169056558647035

In [17]:
sec_returns['JNJ'].std() * 250 ** 0.5

0.17659829020283319

In [18]:
#EQUAÇÃO DAS DUAS MÉDIAS ANUALIZADAS

In [19]:
print(sec_returns['PG'].mean()* 250)
print(sec_returns['JNJ'].mean()* 250)

0.08414152049025754
0.09231264776117576

In [20]:
sec_returns[['PG','JNJ']].mean() * 250

PG     0.084142
JNJ    0.092313
dtype: float64

In [21]:
sec_returns[['PG','JNJ']].std() * 250 ** 0.5

PG     0.185898
JNJ    0.176598
dtype: float64

In [22]:
#AÇÕES DA JOHNSON DÃO MAIS RETORNO E APRESENTAM MENOS RISCO (VOLATIVIDADE)

COVARIANCE AND CORRELATION

In [23]:
PG_var = sec_returns['PG'].var()
PG_var

0.00013823293480916404

In [25]:
JNJ_var = sec_returns['JNJ'].var()
JNJ_var

0.00012474782441025635

In [27]:
PG_var_anual = sec_returns['PG'].var() * 250
PG_var_anual

0.03455823370229101

In [29]:
JNJ_var_anual = sec_returns['JNJ'].var() * 250
JNJ_var_anual

0.031186956102564087

In [30]:
cov_matrix = sec_returns.cov()
cov_matrix

           PG       JNJ
PG   0.000138  0.000079
JNJ  0.000079  0.000125

In [31]:
cov_matrix_anual = sec_returns.cov() * 250
cov_matrix_anual

           PG       JNJ
PG   0.034558  0.019772
JNJ  0.019772  0.031187

In [32]:
corr_matrix = sec_returns.corr()
corr_matrix

           PG       JNJ
PG   1.000000  0.602264
JNJ  0.602264  1.000000

In [33]:
#O RETORNO DAS AÇÕES DAS DUAS EMPRESAS TÊM alta CORRELAÇÃO